.App {
  text-align: center;
}
.LinkButton {
    display: inline-block;
    width:200px;
    outline: none;
    cursor: pointer;
    border: solid 1px #da7c0c;
    background: #478dad;
    text-align: center;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .3em;
    color:white;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
     text-decoration: none;
     margin:5px;
     margin-left: -50px;
}
.LinkButton:hover {
    background: #20e6f4;
    background: -webkit-gradient(linear, left top, left bottom, from #20e6f4, to(#1bcbd8));
    background: -moz-linear-gradient(top,  #20e6f4,  #1bcbd8);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
     text-decoration: none;
}
.LinkButton:active {
    position: relative;
    top: 1px;
}

.head{
  text-decoration: none;
 
}
.head:hover {
  text-decoration: none;
}
.head:not( :hover )  {
  text-decoration: none;
}
.head:active {
  text-decoration: none;
}

ul {
  list-style: none;
}
.title{
border: solid 1px #201746;
background-color: #337AB7;
margin-top: 5px;
}
.record{
  border: solid 1px #201746;
}

